.tag {
  display: inline-block;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}